<%- include('../components/general/header.ejs') %>
<%- include('../components/general/navbar.ejs') %>
	
	<%- include('../components/habitats/header.ejs') %>
	
    <%- include('../components/habitats/habitat-header.ejs') %>
    <div class="container">
    	<%- include('../components/habitats/habitat-description.ejs') %>
        <%- include('../components/habitats/habitat-ideas.ejs') %>
    	<%- include('../components/habitats/habitat-members.ejs') %>
        <%- include('../components/habitats/habitat-curator-description.ejs') %>
    </div>


<%- include('../components/general/footer.ejs') %>