<%- include('../components/general/header.ejs') %>
<%- include('../components/general/navbar.ejs') %>
	
	<%- include('../components/ideas/header.ejs') %>
		
	<%- include('../components/ideas/idea-header.ejs') %>
    <div class="container">
    	<%- include('../components/ideas/idea-description.ejs') %>
        <%- include('../components/ideas/idea-habitats.ejs') %>
        <%- include('../components/ideas/idea-creator-description.ejs') %>
    </div>


<%- include('../components/general/footer.ejs') %>