<%- include('../components/general/header.ejs') %>
<%- include('../components/general/navbar.ejs') %>
	
	<%- include('../components/natives/header.ejs') %>
	
    <%- include('../components/natives/native-header.ejs') %>
    <div class="container">
    	<%- include('../components/natives/native-description.ejs') %>
        <%- include('../components/natives/native-ideas.ejs') %>
    	<%- include('../components/natives/native-members.ejs') %>
        <%- include('../components/natives/native-curator-description.ejs') %>
    </div>


<%- include('../components/general/footer.ejs') %>