<%- include('../components/general/header.ejs') %>
<%- include('../components/general/navbar.ejs') %>
	
	<%- include('../components/people/header.ejs') %>
	
    <%- include('../components/people/user-header.ejs') %>

    <div class="container">
    	<%- include('../components/people/user-description.ejs') %>
    	<%- include('../components/people/user-natives.ejs') %>
    	<%- include('../components/people/user-ideas.ejs') %>
    </div>


<%- include('../components/general/footer.ejs') %>